# Created by https://gitignore.org
# CMake.gitignore

examples/CMakeLists.txt.user
examples/CMakeCache.txt
examples/CMakeFiles
examples/CMakeScripts
examples/Testing
examples/Makefile
examples/cmake_install.cmake
examples/install_manifest.txt
examples/compile_commands.json
examples/CTestTestfile.cmake
examples/_deps
examples/CMakeUserPresets.json
examples/examples
examples/examples.exe
